<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 数据库字段与JavaBean属性采用驼峰命名映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <!-- Oracle库JDBC空类型兼容性处理 -->
        <setting name="jdbcTypeForNull" value="NULL"></setting>
    </settings>
</configuration>